* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font size: 14px;
}
body {

	width: 100%;
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
.instagram-wrapper{

	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
}
.instagram-phone{

	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.instagram-phone img{

	height: 30rem;
}
.profile-photo img{

	height: 8rem;
	border-radius: 50%;
	margin-bottom: 15px;
}
.instagram-logo {

	height: 4rem;
}
.instagram-continue{

	display: flex;
	align-items: center;/* horizontal*/
	justify-content: space-around; /* vertical*/
	flex-direction: column;
	width: 50%;
	height: 34 rem;
}
.group{

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 100%;
	padding: 1.3 rem 0;
	border: 1px solid lightgray ;
	margin-bottom: 15px;
}
.instagram-login {

	background-color:#0095f6;
	color: #ffffff;
	padding: 8px;
	border-radius: 4px;
}
.instagram-logout{

	color: #0095f6 ;
	margin-bottom: 15px;
	margin-top: 30px;

}
.not-account{

	color: rgb(160, 160, 160);

}
.link-blue{

	color:#0095f6 ;
}
.get-the-app{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.3 rem 0;
}
.download{

	display: flex;
	width: 100%;
	justify-content: space-evenlyce;
	align-items: center;
	padding: 1rem;
}
.app-donwload{

	height: 3rem;
	width: 10rem;
	background-size: cover;
	
}
.apple{

	height: 3rem;
	margin-right: 20px;
	margin-left: 20px;


}
.googleplay{
	height: 3rem;

	
}
